body {
    background-color: indigo;
    text-orientation: upright;
    text-align: center; 
    text-decoration: underline;
    color: cyan; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px; 
 }
 h1 {
    text-orientation: upright;
    text-align: center; 
    color: rosybrown; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
 }